/**
 *    ░█▀▄░█▀█░█▀▀░▀█▀                            
 *    ░█▀▄░█░█░█▀▀░░█░                            
 *    ░▀░▀░▀▀▀░▀░░░▀▀▀                            
 *  
 *    ░█▀█░█▀█░█▀█░█░░░▀█▀░█▀▀░█▀█░▀█▀░▀█▀░█▀█░█▀█
 *    ░█▀█░█▀▀░█▀▀░█░░░░█░░█░░░█▀█░░█░░░█░░█░█░█░█
 *    ░▀░▀░▀░░░▀░░░▀▀▀░▀▀▀░▀▀▀░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀
 *   
 *    ░█░░░█▀█░█░█░█▀█░█▀▀░█░█░█▀▀░█▀▄            
 *    ░█░░░█▀█░█░█░█░█░█░░░█▀█░█▀▀░█▀▄            
 *    ░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀            
 * 
 *    ░█▀▀░█▀█░█░░░█▀█░█▀▄░░░░░█▄█░█▀█░█▀█        
 *    ░█░░░█░█░█░░░█░█░█▀▄░▄▄▄░█░█░█▀█░█▀▀        
 *    ░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░░░░░▀░▀░▀░▀░▀░░        
 -----------------------------------------------------*/

@import "~/.config/rofi/colors.rasi"
@import "special-case/window-background.rasi"
* {
    win-bg:                   @window-background;

    mb-bg:                    @base;
    mb-border:                @starlight;
    
    inbar-bg:                 @rim;
    inbar-txt:                @text;
    
    msw-txt:                  @raised;
    msw-btn-bg:               @blush;
    msw-btn-selected-bg:      @moss;
    msw-btn-selected-txt:     @raised;
    
    lv-txt:                   @text;
    
    el-txt:                   @text;
    el-urgent-bg:             @crimson;
    el-urgent-txt:            @raised;
    el-active-bg:             @amber;
    el-active-txt:            @raised;
    el-selected-bg:           @lantern;
    el-selected-txt:          @raised;
    el-selected-urgent-bg:    @crimson;
    el-selected-urgent-txt:   @raised;
    el-selected-active-bg:    @seafoam;
    el-selected-active-txt:   @raised;

    tb-bg:                    @petal;
    tb-txt:                   @raised;

    err-msg-bg:               @crimson;
    err-msg-txt:              @raised;
}